local.properties
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
build/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
output.json
*.jks
*.keystore
